@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;

}


.page-loader{
    display: flex;
    justify-content: center;
}


.item {
    width: 56%;
    overflow: visible;
    stroke: #fff;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap: round;
}


.back-loader {
    width: 100vw;
    height: 100vh;

    background-color: rgba(10, 10, 10, 0.945);
    z-index: 9999;
    animation-fill-mode: none;
    animation-name: backload;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}


@keyframes backload {
    0% {
        opacity: 1;
    }
  80% {
        opacity: 0;
    }
    100%{
        top: -122211px;
        left: -11221px;
    }
   
}